src/main/resources/log4j2.dtd

<!ELEMENT Configuration (Appenders,Loggers)>
<!ATTLIST Configuration status NMTOKEN #REQUIRED>
<!ELEMENT Appenders (Console)>
<!ELEMENT Console (PatternLayout)>
<!ATTLIST Console name NMTOKEN #REQUIRED>
<!ATTLIST Console target NMTOKEN #REQUIRED>
<!ELEMENT PatternLayout EMPTY>
<!ATTLIST PatternLayout pattern CDATA #REQUIRED>
<!ELEMENT Loggers (Logger,Root)>
<!ELEMENT Logger (AppenderRef)>
<!ATTLIST Logger name NMTOKEN #REQUIRED>
<!ATTLIST Logger level NMTOKEN #REQUIRED>
<!ATTLIST Logger additivity NMTOKEN #REQUIRED>
<!ELEMENT AppenderRef EMPTY>
<!ATTLIST AppenderRef ref NMTOKEN #REQUIRED>
<!ELEMENT Root (AppenderRef)>
<!ATTLIST Root level NMTOKEN #REQUIRED>